<mat-card style="width: 70%; margin:50px auto">
    <mat-card-header>
        <mat-card-title>
            <p>Lista Empleados</p>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
    <button mat-flat-button color="primary" (click)="nuevo()">Nuevo Empleado</button>
    <table mat-table [dataSource]="objListaEmpleado" class="mat-elevation-z2" style="margin-top: 20px;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- NombreCompleto Column -->
        <ng-container matColumnDef="nombreEmpleado">
          <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
        </ng-container>
      
        <!-- Correo Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="salario">
          <th mat-header-cell *matHeaderCellDef> Sueldo </th>
          <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
        </ng-container>
      
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef> Departamento</th>
          <td mat-cell *matCellDef="let element"> {{ obtenerNombreDepartamento(element.departamentoId) }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef> Fecha Contrato </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaIngreso  | date:"dd-MM-yyyy"}} </td>
        </ng-container>

        
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="editar(element)">
                <mat-icon> editar</mat-icon>
            </button> 
            <button mat-icon-button color="warn" (click)="eliminar(element)">
                <mat-icon> delete </mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="objDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: objDisplayedColumns;"></tr>
      </table>
      
      
    </mat-card-content>
  </mat-card>